<label [class]="inputContainerClass()">
  <div class="border-r pr-2 border-muted text-muted">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-key-round-icon lucide-key-round"
    >
      <path
        d="M2.586 17.414A2 2 0 0 0 2 18.828V21a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h1a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h.172a2 2 0 0 0 1.414-.586l.814-.814a6.5 6.5 0 1 0-4-4z"
      />
      <circle cx="16.5" cy="7.5" r=".5" fill="currentColor" />
    </svg>
  </div>

  <div class="flex flex-col justify-center w-full">
    @if (label()) {
      <span class="text-xs text-muted">{{ label() }}</span>
    }

    <input
      [class]="inputClass()"
      [value]="value()"
      [placeholder]="placeholder()"
      [disabled]="isDisabled()"
      (input)="handleInput($event)"
      (blur)="handleBlur()"
      [type]="isVisible() ? 'text' : 'password'"
      name="password"
    />
  </div>

  <button
    type="button"
    class="cursor-pointer text-muted"
    [disabled]="isDisabled()"
    [attr.aria-label]="isVisible() ? 'Esconder senha' : 'Mostrar senha'"
    [attr.aria-pressed]="isVisible()"
    (click)="handleInputVisibility($event)"
  >
    @if (isVisible()) {
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-eye-icon lucide-eye"
        aria-hidden="true"
      >
        <path
          d="M2.062 12.348a1 1 0 0 1 0-.696 10.75 10.75 0 0 1 19.876 0 1 1 0 0 1 0 .696 10.75 10.75 0 0 1-19.876 0"
        />
        <circle cx="12" cy="12" r="3" />
      </svg>
    } @else {
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-eye-closed-icon lucide-eye-closed"
        aria-hidden="true"
      >
        <path d="m15 18-.722-3.25" />
        <path d="M2 8a10.645 10.645 0 0 0 20 0" />
        <path d="m20 15-1.726-2.05" />
        <path d="m4 15 1.726-2.05" />
        <path d="m9 18 .722-3.25" />
      </svg>
    }
  </button>
</label>
